body {
    font-family: 'Khula', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size:20px;
}

.mtag{
    padding: 30px;
}

#mtagInput{
    text-align: left;
    width: 300px;
    height: 60px;
    font-size: 1.2em;
    border: grey solid 2px;
    background-image: url("/images/searchicon.png");
    background-position: 10px 20px;
    background-repeat: no-repeat;
    padding-left: 42px;
}

#other{
    padding: 20px;
}

#reset-btn{
    height: 50px;
    width: 80px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    font-size: 14px;
}

#showdata{
    margin: auto;
    border: grey solid 2px;
    max-height: 500px;
    width: 90%;
    max-width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

#showdata ul{
        max-width: 500px;
        padding: 0;
}

h1{
    font-weight: 300;
    color: #333399;
}

.page-title{
    background-color: #333399;
    margin: 0;
    padding: 1em;
}

.page-title h1{
    color: white;
}

ul{
    list-style-type:none;
    text-align:center;
    margin: auto;
}

nav div{
    padding: 10px;
}

a{
    text-decoration: none;
}

.acronym{
    color: white;
    background-color: grey;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

#not-found{
    line-height: 2em;
}

#not-found a{
    padding: 10px;
}

iframe{
    width: 90%;
    max-width: 900px;
    height: 700px;
}

footer{
    padding: 50px;
}

@media only screen and (min-width: 780px) {
    body {
        font-size:18px;
    }
}